.header-container{
    display: flex;
    align-items: center  ;
    margin-bottom: 60px;
    justify-content: space-between;
}
.logo-list{
    display: flex;
    align-items: center;
    .logo-item{
        img{
            margin-right: 10px;
        }
    }
}
